body {
    margin: 0;
    position: relative;
}

/* Popup */
.popup {
    /* 
display: flex;
display: none;
*/
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.popup-wrap {
    max-width: 768px;
    width: 95%;
    margin: auto;
    position: relative;
    width: 390px;
    height: 588px;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 11;
}

.popup-close {
    border: none;
    height: 18px;
    width: 18px;
    text-indent: -9999px;
    background-color: transparent;
    position: absolute;
    top: -24px;
    right: 0;
    padding: 0;
    cursor: pointer;
    background-image: url(../svg/form-x.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 11;
}

.popup-main {
    padding: 50px 30px;

}

.popup-title {
    font-family: OpenSans-Bold;
    font-size: 20px;
    line-height: 29.15px;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
    margin: 0 auto 0 auto;
}

.popup-title:after {
    content: "";
    display: block;
    border-bottom: 3px solid #B59F5B;
    width: 18%;
    text-align: center;
    opacity: 0.4;
    margin: 10px auto 0 auto;
}

.popup-text {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #000000;
    margin: 16px 0 8px 0;
}

.popup_select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 0 0 18px;
    margin: 0;
    border: none;
    outline: none;
    background-color: #F4F7F6;
    font-size: 13px;
    font-family: OpenSans-Regular;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.popup_select:focus {
    border: solid 1px #B59F5B;
    padding-left: 17px;
}

.popup_radio-group {
    margin-right: 10px;
}

.popup_radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 0px;
    width: 0px;
    margin: 0;
}

.radio-text {
    font-family: OpenSans-Regular;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    margin: 10px 0 0 0;
}

.radio-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    margin-right: 4px;
}

.popup_radio:checked+.radio-text::before {
    background-image: url(..//svg/form-circle.svg);
}

.popup-text-field {
    display: inline-block;
    width: calc(100% - 18px - 16px);
    height: 130px;
    border: none;
    outline: none;
    background-color: #F4F7F6;
    font-size: 13px;
    font-family: OpenSans-Regular;
    color: #000000;
    padding: 16px 16px 16px 16px;
    resize: none;
}

.popup-btm {
    margin-top: 16px;
    width: 100%;
    padding: 0;
    height: 48px;
    border: none;
    background-color: #B59F5B;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.popup-btm:hover {
    background-color: rgb(50, 50, 50);
}

/* Header */
.header {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    position: relative;
    width: 100%;
    z-index: 1;
    padding-top: 28px;
}

.header::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.logo-menu-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_logo {
    width: 179px;
}

.header_menu_button {
    display: none;
    position: relative;
    width: 22px;
    height: 16px;
    text-indent: -9999px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.header_menu_button:before,
.header_menu_button:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.header_menu_button:before {
    top: 0;
}

.header_menu_button:after {
    bottom: 0;
}

.header_menu_button-label {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.header_menu-wrap {
    display: flex;
    list-style-type: none;
}

.header_menu-wrap-item {
    margin-left: 35px;
}

.header_menu-wrap-item:first-child {
    margin-left: 0;
}

.header_menu-wrap-link {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.header_menu-wrap-link:hover {
    text-decoration: underline;
}

.header_logo_m {
    display: none;
}

.header-intro {
    margin-top: 105px;
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-bottom: 117px;
}

.header-intro-title {
    font-family: OpenSans-Bold;
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    width: 687px;
    margin: 0;
}

/* Trends */
.trends {
    margin-top: 64px;
}

.main-title {
    font-family: OpenSans-Bold;
    font-size: 20px;
    line-height: 29.15px;
    width: 500px;
    margin: 0 auto 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
}

.main-title:after {
    content: "";
    display: block;
    border-bottom: 3px solid #B59F5B;
    width: 10%;
    margin: 14px auto 25px auto;
    text-align: center;
    opacity: 0.4;
}

.trends-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.trends_post {
    display: flex;
    width: 25%;
    position: relative;
    margin-right: 4px;
}

.trends_post:last-child {
    margin-right: 0;
}

.trends_post::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
}

.trands_post_img-wrap {
    background-color: grey;
    width: 100%;
}

.trends_post_img {
    width: 100%;
    display: block;
}

.trands_post_main-wrap {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    max-width: calc(100% - 40px);
    left: 0;
    bottom: 0;
    padding: 35px;
    margin: 0 20px 15px 20px;
    z-index: 0;
}

.trands_post_main-wrap::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 200px;
    left: 0;
    bottom: 0;
    border: 3px solid #b59f5b;
    opacity: 0.6;
    box-sizing: border-box;
    z-index: -1;
}

.trands_post_main-wrap_tags-wrap {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-card-content-category-item {
    margin-right: 20px;
}

.main-card-content-category-item:last-child {
    margin-right: 0;
}

.main-card-content-category-link {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #b59f5b;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-card-content-category-link:hover {
    text-decoration: underline;
}

.trands_post_main-wrap_title {
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #ffffff;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.trands_post_main-wrap_title:hover {
    color: #b59f5b;
}

/* Main */
.main-wrap {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main {
    width: 778px;
}

.main-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 58px;
}

.main-card:last-child {
    margin-bottom: 0;
}

.main-card-img {
    width: 381px;
    margin-right: 30px;
    box-sizing: border-box;
    background-color: #888888;
}

.main-card-content {
    margin: 0;
}

.main-card-content-category {
    padding: 0;
    margin: 0 0 3px 0;
    list-style-type: none;
    display: flex;
    justify-content: start;
}

.main-card-content-category-item {
    margin-right: 17px;
}

.main-card-content-category-item:last-child {
    margin-right: 0;
}

.main-card-content-category-link {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
}

.main-card-content-category-link:hover {
    text-decoration: underline;
}

.main-card-content-titlewrap {
    margin: 0 0 3px 0;
}

.main-card-content-title {
    font-family: OpenSans-Bold;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
}

.main-card-content-title:hover {
    color: #b59f5b;
    cursor: pointer;
}

.main-card-content-date_author {
    display: flex;
    margin-bottom: 40px;
}

.main-card-content-date_author-date {
    font-style: OpenSans-Regular;
    font-size: 12px;
    color: #888888;
    margin: 0 14px 0 0;
}

.main-card-content-date_author-author {
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #000000;
    margin: 0;
}

.main-card-content-text {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    margin: 0 0 16px 0;
}

.main-card-content-text:last-child {
    margin: 0;
}

/* Aside */
.aside {
    width: 272px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Posts */
.aside-title {
    font-family: OpenSans-Bold;
    font-size: 14px;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
}

.aside-title:after {
    content: "";
    display: block;
    border-bottom: 3px solid #B59F5B;
    width: 25%;
    margin: 14px auto 25px auto;
    text-align: center;
    opacity: 0.4;
}

.aside-post-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 22px;
}

.aside-post-card:last-child {
    margin-bottom: 0;
}

.aside-post-card-img {
    margin-right: 19px;
    background-color: #888888;
}

.aside-post-card-content-titlewrap {
    margin: 0;
}

.aside-post-card-content-title {
    font-family: OpenSans-Bold;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.aside-post-card-content-title:hover {
    color: #b59f5b;
}

/* Search */
.aside-search {
    margin-top: 60px;
    width: 100%;
}

.aside-search-form {
    position: relative;
    box-sizing: border-box;
}

.aside-search-form-field {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 0 0 18px;
    border: none;
    outline: none;
    background-color: #F4F7F6;
    font-style: OpenSans-Regular;
    font-size: 13px;
}

.aside-search-form-field:focus {
    border: solid 1px #B59F5B;
    padding-left: 17px;
}

.aside-search-form-sr_btm {
    border: none;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    cursor: pointer;
    background-color: #B59F5B;
    background-image: url(../svg/search.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
}

.aside-search-form-sr_btm:hover {
    background-color: rgb(50, 50, 50);
}

/* Subscribe */
.aside-subscribe {
    margin-top: 62px;
    width: 100%;
}

.aside-subscribe-form {
    margin-top: 23px;
}

.aside-subscribe-form-field {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 18px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #F4F7F6;
}

.aside-subscribe-form-field:focus {
    border: solid 1px #B59F5B;
    padding-left: 17px;
}

.aside-subscribe-form-sr_btm {
    margin-top: 16px;
    width: 100%;
    padding: 0;
    height: 48px;
    border: none;
    background-color: #B59F5B;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.aside-subscribe-form-sr_btm:hover {
    background-color: rgb(50, 50, 50);
}

/* Tags */
.aside-tags {
    margin-top: 60px;
    width: 100%;
}

.aside-tags-wrap {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.aside-tags-wrap-item {
    border: solid 3px #EEEEEE;
    padding: 5px 10px 5px 10px;
    margin-right: 7px;
    margin-bottom: 7px;
}

.aside-tags-wrap-item:hover {
    border: solid 3px #B59F5B;
}

.aside-tags-wrap-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
    font-size: 12px;
    font-family: OpenSans-Bold;
}

/* Themes */
.aside-themes {
    margin-top: 60px;
    width: 100%;
}

.aside-themes-wrap {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.aside-themes-wrap-item {
    border-bottom: solid 1px #EEEEEE;
}

.aside-themes-wrap-link {
    color: #000000;
    font-size: 14px;
    font-family: OpenSans-Bold;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 47px;
}

.aside-themes-wrap-link:hover {
    color: #b59f5b;
}

.aside-themes-wrap-count {
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #b59f5b;
    vertical-align: super;

}

/* Shop */
.shop {
    margin-top: 62px;
}

.shop-wrap {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shop_post {
    width: 29.91%;
    height: 440px;
    position: relative;
}

.shop_post_border::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 180px);
    max-width: 100%;
    left: 0;
    bottom: 0;
    border: 3px solid #b59f5b;
    opacity: 0.6;
    box-sizing: border-box;
    z-index: -1;
}

.shop_post_img-wrap {
    display: flex;
    justify-content: center;
    z-index: -2;
}

.shop_post_img {
    z-index: -2;
}

.shop_post_main-wrap {
    max-width: 300px;
    margin: 20px auto 0 auto;
}

.shop_post_title {
    font-family: OpenSans-Bold;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    text-transform: uppercase;
    margin: 0;
}

.shop_post_text {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    margin: 4px 0 0 0;
}

.shop_post_link {
    font-family: OpenSans-Regular;
    color: #b59f5b;
    text-decoration: none;
}

.shop_post_link:hover {
    text-decoration: underline;
}

.shop_post_price-wrap {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

.shop_post_price {
    display: flex;
    flex-direction: column;
}

.shop_post_price-old {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #0f0d0e;
    line-height: 24px;
    margin: 0;
    text-decoration: line-through;
    flex: 1;
}

.shop_post_price-new {
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #0f0d0e;
    line-height: 24px;
    margin: 0;
    flex: 2;
}

.shop_post_price {
    width: 50%;
}

.shop_post_btm-wrap {
    width: 140px;
}

.shop_post_btm {
    width: 100%;
    padding: 0;
    height: 48px;
    border: none;
    background-color: #B59F5B;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.shop_post_btm:hover {
    background-color: rgb(50, 50, 50);
}

/* Footer */
.footer {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.footer-social_menu {
    background-color: #F4F7F6;
    width: 100%;
}

.footer-social_menu-wrap {
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-social_menu-item {
    margin-right: 28px;
}

.footer-social_menu-item:last-child {
    margin-right: 0;
}

.footer-social_menu-link {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}

.footer-social_menu-link-dribbble {
    background-image: url(../svg/001-dribbble.svg);
}

.footer-social_menu-link-pinterest {
    background-image: url(../svg/002-pinterest.svg);
}

.footer-social_menu-link-tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.footer-social_menu-link-twitter {
    background-image: url(../svg/004-twitter.svg);
}

.footer-copyright {
    margin: 73px auto 0 auto;
}

.footer-copyright-copyright {
    color: #999999;
    font-family: OpenSans-Bold;
    font-size: 12px;
}

.hidden-hint {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow-y: auto;
}

/* Tablet */
@media (min-width: 641px) and (max-width: 1200px) {
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: gray;
        position: relative;
        width: 100%;
        z-index: 1;
        padding-top: 28px;
    }

    .header_logo {
        width: 157px;
    }

    .logo-menu-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .header_menu_button {
        display: block;
    }

    .header_menu-wrap {
        display: none;
    }

    .header-intro-title {
        font-size: 40px;
        line-height: 55px;
    }

    .trends-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    .trends_post {
        display: flex;
        width: calc(50% - 2px);
        position: relative;
        margin-right: 2px;
        margin-bottom: 4px;
    }

    .trends_post:nth-child(even) {
        margin-right: 0;
    }

    .trands_post_main-wrap_title {
        font-size: 17px;
        line-height: 22px;
    }

    .trends {
        margin-top: 48px;
    }

    .main-title {
        font-size: 18px;
        line-height: 29px;
    }

    .main-card-content-title {
        font-size: 17px;
        line-height: 22px;
    }

    .main-wrap {
        max-width: 768px;
        margin-top: 48px;
        padding: 0 40px;
        flex-wrap: nowrap;
    }

    .main {
        min-width: 269px;
        max-width: 400px;
        margin-right: 40px;
    }

    .main-card {

        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 40px;
        border-bottom: 3px solid #EEEEEE;
        padding-bottom: 20px;
    }

    .main-card-img {
        min-width: 269px;
        max-width: 400px;
        margin-right: 0;
    }

    .main-card:last-child {
        border-bottom: none;
    }

    .shop {
        margin-top: 40px;
    }

    .shop-wrap {
        max-width: calc(768px - 80px);
        padding: 0 40px;
        flex-wrap: wrap;
    }

    .shop_post {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .shop_post:nth-child(odd) {
        margin-right: 10px;
    }

    .footer {
        margin-top: 40px;
        max-width: 698px;
    }

    .footer-copyright {
        margin-top: 40px;
    }

    .popup-title {
        font-size: 18px;
    }

    .shop_post_img {
        max-width: 300px;
        min-width: 240px;
    }

    .shop_post_price-wrap {
        min-width: 200px;
        box-sizing: content-box;
    }

    .shop_post_title {
        font-size: 17px;
        line-height: 22px;
    }

    .shop_post_main-wrap {
        min-width: 200px;
    }

    .shop_post_img-wrap {
        max-width: 300px;
        min-width: 200px;
    }
}

/* Mobile 360 */
@media (max-width: 640px) {
    .popup-wrap {
        min-width: 280px;
        max-width: 320px;
        height: 546px;
    }

    .popup-main {
        padding: 20px;
    }

    .popup-title {
        font-size: 16px;
    }

    .header_menu_button {
        display: block;
    }

    .header_menu-wrap {
        display: none;
    }

    .header-intro-title {
        font-size: 26px;
        line-height: 36px;
    }

    .header {
        background-image: url(../images/banner-mobile.jpg);
    }

    .header_logo {
        display: none;
    }

    .logo-menu-wrap {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .header_logo_m {
        display: block;
        margin-top: 174px;
        margin-left: auto;
        margin-right: auto;
        width: 269px;
    }

    .header-intro {
        margin-top: 0px;
    }

    .header-intro {
        margin-top: 44px;
        padding-bottom: 234px;
    }

    .trends {
        margin-top: 40px;
    }

    .main-title {
        width: 100%;
        font-size: 16px;
    }

    .main-title:after {
        margin-top: 0;
        width: 15%;

    }

    .trends-wrap {
        flex-wrap: wrap;
    }

    .trends_post {
        width: 100%;
        margin: 0 0 2px 0;
    }

    .trands_post_main-wrap_title {
        font-size: 16px;
        line-height: 20px;
    }

    .main-wrap {
        max-width: 640px;
        min-width: 280px;
        margin-top: 40px;
        box-sizing: border-box;
    }

    .main {
        max-width: 640px;
        min-width: 280px;
        margin: 0 10px;
    }

    .main-card {
        max-width: 640px;
        min-width: 280px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        box-sizing: border-box;
    }

    .main-card-img {
        max-width: 381px;
        min-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-card-content-title {
        font-size: 16px;
        line-height: 20px;
    }

    .main-card-content-text {
        font-size: 14px;
        line-height: 20px;
    }

    .main-card-content-titlewrap {
        margin: 0 0 12px 0;
    }

    .main-card-content-date_author {
        margin-bottom: 12px;
    }

    .main-card-content {
        border-bottom: 3px solid #EEEEEE;
        padding-bottom: 18px;
    }

    .aside {
        max-width: 640px;
        min-width: 280px;
        margin: 40px 10px 0 10px;
        width: auto;
    }

    .aside-title {
        font-size: 16px;
        max-width: 640px;
        min-width: 280px;
    }

    .aside-title:after {
        width: 15%;
    }

    .aside-post {
        max-width: 640px;
        min-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .aside-post-card {
        max-width: 640px;
        min-width: 280px;
    }

    .aside-search {
        margin-top: 40px;
    }

    .aside-subscribe {
        margin-top: 40px;
    }

    .aside-tags {
        margin-top: 40px;
    }

    .aside-themes {
        margin-top: 40px;
    }

    .shop {
        max-width: 640px;
        min-width: 220px;
        margin-top: 40px;
        box-sizing: border-box;
    }

    .shop-wrap {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .shop_post {
        width: calc(100% - 10px);
        max-width: 350px;
        margin: 0 auto 20px auto;
        box-sizing: border-box;
        padding: 0 20px 20px 20px;
        height: auto;
    }

    .shop_post_img-wrap {
        min-width: 200px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .shop_post_img {
        min-width: 200px;
        box-sizing: border-box;
    }

    .shop_post_title {
        font-size: 17px;
        line-height: 22px;
    }

    .shop_post_btm-wrap {
        box-sizing: border-box;
    }

    .footer {
        margin: 40px auto 20px auto;
        padding: 0 10px;
    }

    .footer-copyright {
        margin-top: 40px;
    }
}

/* Connection fonts */
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    src: url(../fonts/OpenSans-Regular.woff);
    src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    src: url(../fonts/OpenSans-Bold.woff);
    src: url(../fonts/OpenSans-Bold.woff2);
}